{{>header}}
<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="name">Заглавие</label>
      <input type="text" id="name" class="form-control">
      <small class="form-text text-danger"></small>
    </div>
    <div class="form-group col">
      <label for="file">Zip файл</label>
      <input type="file" accept=".zip" id="file" class="form-control">
      <small class="form-text text-danger"></small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-secondary" href="/works">Назад</a>
    </div>
    <div class="col">
      <button id="sendWork" class="btn btn-success">Добавяне</button>
    </div>
  </div>
</div>
{{>footer}}

<script>
  document.querySelector("#sendWork").addEventListener("click", async function (event) {
    event.preventDefault();
    const url = "/api/works/new";
    let formData = new FormData();
    let fileField = document.querySelector("input[type='file']");
    let nameField = document.querySelector("#name").value.trim();
    if (!fileField.files[0]) {
      alert('Трябва да сложи файла');
      return;
    }
    if (!nameField.trim()) {
      alert('Трябва да сложи заглавието');
      return;
    } else if (!nameField.match(/^(\w){5,100}$/)) {
      alert('Дължина на заглавието трябва да бъде от 5 до 100 символи');
      return;
    } else if (!fileField.files[0].type !== "application/zip") {
      alert('Трябва да сложи ZIP файл');
      return;
    }


    formData.append('name', nameField);
    formData.append('file', fileField.files[0]);

    let response = await fetch(url, {
      method: 'POST',
      body: formData
    });
    const responseJson = await response.json()
    console.log(responseJson)
  });
</script>