{{>header}}
<div class="container"></div>
<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
  </div>
  <div id="logout" class="col"></div>
</div>
{{>footer}}

<script>
  window.addEventListener("load", function () {

  })
</script>